
        body {
            font-family: 'Trebuchet MS', sans-serif;
            margin: 0;
        }

        header {
            background-color: red;
            color: white;
        }

        .LienTitre {
            color: red;
        }

        .LienTitre:visited {
            color: black;
        }

        .LienTitre:hover {
            color: yellow;
        }

        .LienTitre:selected {
            color: green;
        }

        header a {
            text-decoration: none;
        }

        #pageContent {
            width: 500px;
            padding: 20px;
            background-color: #f2f2f2;
        }

        #pageContent h1 {
            text-decoration: underline;
            color: red;
            font-size: 50px;
            padding: 10px;
            margin: 10px;
        }

        .btn {
            background-color: #DED983;
            font-size: 1.2em;
            color: #345071;
            font-family: 'Trebuchet MS', Verdana, sans-serif;
        }

        #pageContent button {
            margin-top: 10px; 
        }

        input, select, textarea {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #ccc;
        }

        footer {
            background-color: red;
            color: white;
        }
  